In [6]:
for i in range(5):
    for j in range(0,i+1):
        print("iNeuron", end=" ")
    print()

iNeuron
iNeuron iNeuron
iNeuron iNeuron iNeuron
iNeuron iNeuron iNeuron iNeuron
iNeuron iNeuron iNeuron iNeuron iNeuron

In [54]:
s = 'iNeuron'
n = 5
for i in range(n):
    for k in range(n-i):
        print(" "*(n-2), end="")
    for j in range(0,i):
        print(s, end=' ')
    print()

            iNeuron
         iNeuron iNeuron
      iNeuron iNeuron iNeuron
   iNeuron iNeuron iNeuron iNeuron

In [35]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [36]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

Try to extract all the list entity

In [40]:
for i in l:
    if type(i)==list:
        print(i, end='')

[1, 2, 3, 4]['ineuron', 'data science ']

Try to extract all the dict enteties

In [41]:
for i in l:
    if type(i)==dict:
        print(i, end='')

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

Try to extract all the tuples entities

In [42]:
for i in l:
    if type(i)==tuple:
        print(i, end='')

(2, 3, 4, 5, 6)(3, 4, 5, 6, 7)

 Try to extract all the numerical data it may b a part of dict key and values

In [43]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [45]:
for i in range(len(l)):
    if type(l[i])==list or type(l[i])==tuple or type(l[i])==set:
        for j in l[i]:
            if type(j)== int or type(j)==float:
                print(j)
    elif type(l[i])== dict:
        for j,k in l[i].items():
            if type(j)==int or type(k)==int or type(j)==float or type(k)==float:
                print(j)
                print(k)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

Try to give summation of all the numeric data

In [46]:
sum = 0
for i in range(len(l)):
    if type(l[i])==list or type(l[i])==tuple or type(l[i])==set:
        for j in l[i]:
            if type(j)== int or type(j)==float:
                sum = sum+j
    elif type(l[i])== dict:
        for j,k in l[i].items():
            if type(j)==int or type(k)==int or type(j)==float or type(k)==float:
                sum = sum+j
                sum = sum+k

print(sum)

156

Try to filter out all the odd values out all numeric data which is a part of a list

In [53]:
for i in l:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                if j>1 and (j%2!=0):
                    print(j)

3

Try to extract "ineruon" out of this data

In [54]:
for i in l:
    if type(i)==list:
        for j in i:
            if j =="ineuron":
                print(j)

ineuron

Try to find out a number of occurances of all the data

In [59]:
l1 = []

for i in range(len(l)):
    if type(l[i])==list or type(l[i])==tuple or type(l[i])==set:
        for j in l[i]:
            l1.append(j)
    elif type(l[i])== dict:
        for j,k in l[i].items():
            l1.append(j)
            l1.append(k)

s1 = set(l1)

print(s1)

for i in s1:
    print(i, ":", l1.count(i))

{1, 2, 3, 4, 5, 6, 7, 'ineuron', 8, 'data science ', 'kumar', 45, 'sudh', 'k1', 23, 'k2', 'k3'}
1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
ineuron : 2
8 : 1
data science  : 1
kumar : 1
45 : 1
sudh : 1
k1 : 1
23 : 1
k2 : 1
k3 : 1

Try to find out number of keys in dict element

In [60]:
l1=[]
for i in range(len(l)):
    if type(l[i])==list or type(l[i])==tuple or type(l[i])==set:
        for j in l[i]:
            pass
    elif type(l[i])== dict:
        for j,k in l[i].items():
            l1.append(j)
            #l1.append(k)
        
print(len(l1))

5

Try to filter out all the string data

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

for i in range(len(l)):
    if type(l[i])==list or type(l[i])==tuple or type(l[i])==set:
        for j in l[i]:
            if type(j)== str:
                print(j)
    elif type(l[i])== dict:
        for j,k in l[i].items():
            if type(j)==str or type(k)==str:
                print(j)
                print(k)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

Try to Find  out alphanum in data

In [12]:
for i in l:
    if type(i)==list or type(i)==tuple or set(i)==set:
        for j in i:
            if type(j)==str:
                if j.isalnum():
                    print(j)
    elif type(i)==dict:
        for j,k in i.items():
            if type(i)==str or type(j)==str:
                if j.isalnum() or k.isalnum():
                    print(j)
                    print(k)

k1
sudh
k2
ineuron
k3
kumar
ineuron

Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [13]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [22]:
for i in l:
    mult = 1
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                mult = mult*j
                
    elif type(i)==dict:
        for j, k in i.items():
            if type(j)==int or type(k)==int:
                mult = mult*j
                mult = mult*k
    print(i,":", mult )

[1, 2, 3, 4] : 24
(2, 3, 4, 5, 6) : 720
(3, 4, 5, 6, 7) : 2520
{45, 4, 5, 23} : 20700
{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} : 1008
['ineuron', 'data science '] : 1

In [24]:
l1 = []

for i in range(len(l)):
    if type(l[i])==list or type(l[i])==tuple or type(l[i])==set:
        for j in l[i]:
            l1.append(j)
    elif type(l[i])== dict:
        for j,k in l[i].items():
            l1.append(j)
            l1.append(k)

print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']